In [24]:
import os
import pandas as pd
import numpy as np
import csv

In [53]:
paths = "/home/marcos/Python/pesquisa/arquivos/arquivos_teste"

In [54]:
df = []

In [55]:
arr = os.scandir(paths)

In [57]:
for file in arr:
    abc = pd.read_csv(file.path, sep=";", header=8)

In [94]:
abc[["DATA (YYYY-MM-DD)","PRECIPITACAO TOTAL, HORARIO (mm)"]]

     DATA (YYYY-MM-DD) PRECIPITACAO TOTAL, HORARIO (mm)
0           2012-01-01                                0
1           2012-01-01                                0
2           2012-01-01                                0
3           2012-01-01                                0
4           2012-01-01                                0
...                ...                              ...
8779        2012-12-31                                0
8780        2012-12-31                                0
8781        2012-12-31                                0
8782        2012-12-31                                0
8783        2012-12-31                                0

[8784 rows x 2 columns]

In [69]:
abc["DATA (YYYY-MM-DD)"][743]

'2012-01-31'

In [70]:
abc["DATA (YYYY-MM-DD)"][1439]

'2012-02-29'

In [71]:
abc["DATA (YYYY-MM-DD)"][2183]

'2012-03-31'

In [74]:
abc["DATA (YYYY-MM-DD)"][2903]

'2012-04-30'

In [75]:
abc["DATA (YYYY-MM-DD)"][3647]

'2012-05-31'

In [76]:
abc["DATA (YYYY-MM-DD)"][4367]

'2012-06-30'

In [77]:
abc["DATA (YYYY-MM-DD)"][5111]

'2012-07-31'

In [82]:
abc["DATA (YYYY-MM-DD)"][5832]

'2012-08-31'

In [81]:
abc["DATA (YYYY-MM-DD)"][6575]

'2012-09-30'

In [84]:
abc["DATA (YYYY-MM-DD)"][7296]

'2012-10-31'

In [86]:
abc["DATA (YYYY-MM-DD)"][8039]

'2012-11-30'

In [100]:
abc["DATA (YYYY-MM-DD)"][8783]

'2012-12-31'