In [14]:
import pandas as pd

In [15]:
path = "/home/marcos/Python/pesquisa/arquivos/ms_novo/ambos/data_hora_preci.csv"

In [16]:
dataf = pd.read_csv(path)

In [17]:
dataf

         DATA (YYYY/MM/DD)  PRECIPITACAO TOTAL, HORARIO (mm)
0        DATA (YYYY/MM/DD)  PRECIPITACAO TOTAL, HORARIO (mm)
1               2018/01/01                                 0
2               2018/01/01                                 0
3               2018/01/01                                 0
4               2018/01/01                                 0
...                    ...                               ...
2609388         2013/12/31                                 0
2609389         2013/12/31                                 0
2609390         2013/12/31                                 0
2609391         2013/12/31                                ,2
2609392         2013/12/31                                 0

[2609393 rows x 2 columns]